body {
    font-family: 'Itim', sans-serif;
    background-color: #FFE8FD;
    color: black;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.title{
    display:flex;
    justify-content:space-between;
}

.homebtn {
    width:5vw;
    height:5vw;

}

#box{
    color:#FFE8FD;
}
#calc-title{
    text-align: center;
    margin-bottom: 10vw;
    font-size:300%
}

form {
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
}

button {
    font-family: 'Itim', sans-serif;
    font-size: 18px;
    display: block;
    width: 45%;
    padding: 10px;
    background-color: #d4a6d5;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin: 45px auto 0;
    margin-top: 100px; */
    margin-bottom: 15px;
}



button:hover {
    background-color: #a27da2;
}

#result {
    font-weight: bold;
    text-align: center;
}

.seal{
    width:6vw;
    height:6vw;
}

.seal-placer{
    display:flex;
    flex-direction: column;
    align-items:center;
}

