* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    border: 1px solid #E0FFEC;
    background-color: #E0FFEC;
    padding: 0px;
    width: 100%;
    height: 100%;
}

main {
    height: 87%;
}

.header {
    font-family: Itim;
    text-align: center;
    line-height: 70px;
    margin: 10px;
    font-size: 4vw;
}

.title{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#box{
    color:#E0FFEC;
}

.homebtn {
    width: 5vw;    
    height: 5vw;
    margin-right:1vw;
}


.card {

    background-color: white;
    margin: auto;
    width: 70%;
    height: 70%;
    border: 2px solid #C7E2D2;
    border-radius: 10px;
    padding: 20px;
    
    font-family: Itim;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: black;
    word-wrap: break-word;
}

.popup-overlay {
    display: none;
    margin: auto;
    /* width: 504px; */
    width: 35%;
    height: 70%;
    /* background-color: #E0FFEC; */
    /* border: 1px solid #E0FFEC; */
}

.popup {
    /* width: 500px; */
    width: 100%;
    height: 100%;
    margin-top: -108%;
    background-color: #E0FFEC;
    border-radius: 10px;
    border: 2px solid #C7E2D2;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    font-family: Itim;
    font-size: 20px;
}

.popup-content {
    text-align: center;
}

textarea {
    font-family: Itim;
}

/* button {
    border: none;
    background: initial;
} */

.buttons {
    /* border: 1px solid black; */
    display:flex;
    justify-content:center;
    margin-top:2vw;
   
    /* width: 1118px; */
    /* width: 75%; */
    /* height: 150px; */
    /* height: 25%; */
    line-height: 150px;
}

.btn {
    background-color: #E0FFEC;

    /* width: 200px; */
    width: 15%;
    /* height: 75px; */
    height: 50%;
    padding: 10px 5px;
    /* margin: 10px 10px; */
    margin: 1%;
    border: 2px solid #C7E2D2;
    border-radius: 10px;
    
    cursor: pointer;
    transition: background-color 0.2s;
    
    text-align: center;
    font-family: Itim;
    font-size: 20px;
    color: black;

}

.btn:hover {
    background-color: #C7E2D2;
}

