@keyframes slideInUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

body
{
    background-color: rgba(255, 251, 239, 1);

}

html {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.title
{
    display:flex;
    justify-content:center;
    font-family: "Itim", cursive;
    font-size:500%;
    animation: 1s ease-in .5s 1 slideDown
}
.all_logos
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    animation: 1s ease-in .5s 1 slideInUp;
   
}

.logo_group
{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:40px;
    margin-right:40px;
}

.logo
{
    display:flex;
    justify-content: center;
    width:200px;
    height:200px;
    margin-bottom:10px;
    border-radius: 13px;
}


.logo_title
{
    display:flex;
    justify-content: center;
    font-family: "Itim", cursive;
}