
html{
    display:flex;
    width:100%;
    height:100%;
}

body{
    background-color:#D1F8FF;
    font-family: "Itim", cursive;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;

}

#timer-title{
    font-family: "Itim", cursive;
    font-size: 500%;
    color:#516a9c;  
    margin-bottom:1%;
    
}

#task-title{
    font-family: "Itim", cursive;
    margin-bottom:20px;
}

#input{
    border-color: lightblue;
    background-color:rgba(255, 251, 239, 1);
}

.homebtn{
    display:flex;
    width:5vw;
    height:5vw;
    
}

#box{
    color:#D1F8FF;
    width:5vw;
    height:5vw;
}

.top{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#timer-display{
    color: #516a9c;
    border-color:#516a9c;
    border-width: 5px;
    border-style:solid;

    margin-right:2vw;
    padding-left:1vw;
    padding-right:1.5vw;
    margin-left:5vw;
    padding-bottom: 8.5%;
    margin-bottom:3vw;

    background-color:rgb(251, 248, 241);
    border-radius: 20px;
    width:40vw;
    height:15vw;
    text-align: center;

    font-size: 15vw;
}
.arrows{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width:3vw;
    height:3vw;
}

.arrow{
    margin-bottom:5px;
    margin-top: 5px
}

.buttons{
    width:5vw;
    height:5vw;
}

.buttonbox
{
    display:flex;
    justify-content:center; 
    margin-bottom: 10vw;
}

#pause{
    
    display:none;
}

.cat {
    width:20%;
    margin-right:5vw;
    
}

.cat-timer{
    display:flex;
    flex-direction: column;
    align-items:end;
}

.addBtn {
    font-family: 'Itim', sans-serif;
    text-align:center;
    font-size:100%;
    background-color: #BCDFE5;
}

.addBtn:hover {
    background-color: #e6fbff;
    cursor:pointer;
}

.tasks {
    position:relative;
    color:#516a9c;
    margin-top:-8%;
    text-align:left;
    font-size: 100%;
}

#taskTitle {
    font-family: "Itim", sans-serif;
    color:#516a9c;
    text-align:center;
    font-size:250%;
}