
html{
    display:flex;
    width:100%;
    height:100%;
}

body{
    
    background-color:#D1F8FF;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;

}

#timer-title{
    font-family: "Itim", cursive;
    font-size: 50px;
    color:#516a9c;  
    margin-bottom:1%;
    
}
#task-title{
    font-family: "Itim", cursive;
    margin-bottom:20px;
}

#input{
    border-color: lightblue;
    background-color:rgba(255, 251, 239, 1);
}


.homebtn{
    display:flex;
    width:5vw;
    height:5vw;
    
    /* position: absolute;
    left:95%;
    top:15%; */
    
}

#box{
    color:#D1F8FF;
    width:5vw;
    height:5vw;
}

.top{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    

}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#timer-display{
    color: #516a9c;
    border-color:#516a9c;
    border-width: 5px;
    border-style:solid;

    margin-right:2vw;
    margin-left:5vw;
    margin-bottom:2vw;

    background-color:rgb(251, 248, 241);
    border-radius: 20px;
    width:40vw;
    text-align: center;

    font-size: 15vw;
}
.arrows{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width:3vw;
    height:3vw;
    
    
    /*border-color: transparent;*/
    /*position: absolute;
    left: 80%;
    top:30%;*/
}
.arrow{
    margin-bottom:5px;
    margin-top: 5px
    /* background-color:transparent;
    border-color: transparent; */
}

.buttons{
    width:5vw;
    height:5vw;
}


.buttonbox
{
    display:flex;
    justify-content:center; 
    margin-bottom: 10vw;
}


/*
#start{
    width: 10vw;
    height: 5vw;
    position:absolute;
    left:35%;
}

#reset{
    width: 10vw;
    height: 5vw;
    position: absolute;
    left:50%;
}
*/

#pause{
    
    display:none;
}



.cat {
    width:20%;
    margin-right:5vw;
    
}

.cat-timer{
    display:flex;
    flex-direction: column;
    align-items:end;
}